.khung 
{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.BoxTop
{
	margin:auto;
	float: left;
	height: 100px;
	width: 1000px;
	
}
.BilLeft
{
	margin:auto;
	float: left;
	height: 100%;
	width: 20%;
	background: #d3ccc6;
}
.AnhTron
{	margin-top: 30px;
	margin-left:15px;
	float: left;
	width: 15%;
	height: 30%;
	background: blue;
	border-radius: 100%;
}
.AnhVuong
{	margin-top: 30px;
	
	float: left;
	width: 15%;
	height: 30%;
	background: yellow;
	margin-right: 5px;
	
}
.BoxTop .TieuDe h2
{	
	margin-top: 35px;
	font-size: 17.5px;
}
.BilRight
{
	margin:auto;
	float: left;
	height: 100%;
	width: 80%;
	background:#1e1a17;
}
.BilRight ul
{	
	float: left;
	margin: 0px 0px 0px -10px;
	width: 96%;
	height: 100px;
	list-style-type: none;
	background: #1e1a17;
	text-align: center;

}
.BilRight  li
{
	float: left;
	margin-left: 7px;
	color: red;
	
	width: 	76px;
	height: 10px;
	line-height: 90px;
	
	display: inline-table;
	color: #ffff;
	text-decoration: none;
	font-size: 14px;
}
.BilRight a
{	
	color: #ffff;
	display: block;
	text-decoration: none;
}




.boxanh{
	clear: both;
	width: 1000px;
	height: 400px;
	background: url(https://znews-photo-td.zadn.vn/w1024/Uploaded/jaroin/2016_08_04/26933290224_ed705e64b4_k.jpg);
}
.boxanh img {
	float: left;
	width: 200px;
	height: 150px;
	margin: 125px 0px 125px 0px;
	opacity: 0.5;
}
.boxanh .bilm{
	float: left;
	width: 600px;
	height: 100%;
}
.bilm h1 {
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 40px;
	text-transform: capitalize;
	padding-bottom: 30px;
}
.bilm p {
	float: left;
	margin: 0;
	margin-top: -40px;
	font-size: 24px;
	text-align: center;
	text-transform: capitalize;
}
.bilm a.a1 {
	float: left;
	width: 50%;
	height: 50px;
	margin: 47px 25% 0px 25%;
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
	font-size: 24px;
	background: orange;
	color: white;
	text-decoration: none;
}
.bilm a.a1:hover{
	color: red;
	background: white;
}