.khung 
{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.BoxTop
{
	margin:auto;
	float: left;
	height: 60px;
	width: 1000px;
	
}
.BilLeft
{
	margin:auto;
	float: left;
	height: 100%;
	width: 20%;
	background: #d3ccc6;
}
.AnhTron
{	
	margin-top: 15px;
	margin-left:15px;
	float: left;
	width: 15%;
	height: 30%;
	background: blue;
	border-radius: 100%;
}
.AnhVuong
{	
	margin-top: 15px;
	float: left;
	width: 15%;
	height: 30%;
	background: yellow;
	margin-right: 5px;
	
}
.BoxTop .TieuDe h2
{	
	margin-top: 15px;
	font-size: 17.5px;
}
.BilRight
{
	margin:auto;
	float: left;
	height: 100%;
	width: 80%;
	background:#1e1a17;
}
.BilRight ul
{	
	float: left;
	margin: 0px 0px 0px -10px;
	width: 96%;
	height: 60px;
	list-style-type: none;
	background: #1e1a17;
	text-align: center;

}
.BilRight  li
{
	float: left;
	margin-left: 7px;
	color: red;
	width: 	76px;
	height: 10px;
	line-height: 60px;
	display: inline-table;
	color: #ffff;
	text-decoration: none;
	font-size: 14px;
}
.BilRight a
{	
	color: #ffff;
	display: block;
	text-decoration: none;
}
.boxanh{
	clear: both;
	width: 1000px;
	height: 400px;
	background: url(https://znews-photo-td.zadn.vn/w1024/Uploaded/jaroin/2016_08_04/26933290224_ed705e64b4_k.jpg);
}
.boxanh img {
	float: left;
	width: 200px;
	height: 150px;
	margin: 125px 0px 125px 0px;
	opacity: 0.5;
}
.boxanh .bilm{
	float: left;
	width: 600px;
	height: 100%;
}
.bilm h1 {
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 40px;
	text-transform: capitalize;
	padding-bottom: 30px;
}
.bilm p {
	float: left;
	margin: 0;
	margin-top: -40px;
	font-size: 24px;
	text-align: center;
	text-transform: capitalize;
}
.bilm a.a1 {
	float: left;
	width: 50%;
	height: 50px;
	margin: 47px 25% 0px 25%;
	border-radius: 20px;
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
	font-size: 24px;
	background: orange;
	color: white;
	text-decoration: none;
}
.bilm a.a1:hover{
	color: red;
	background: white;
}
.khung4 {
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	background:#363636;
}
.khung4 .boxtop{
	margin: 0;
	float: left;
	width: 100%;
	height: 15%;
}
.boxtop h3.h3{
	float: left;
	margin: 0;
	padding: 15px 50px;
	font-size: 25px;
	color: #CD853F;
}
.boxtop a{
	float: right;
	margin: 15px 50px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background: #6495ED;
    text-decoration: none;
    padding: 10px;
}
.boxtop a:hover{
	background: white;
	color: #CD853F;
}
.khung4 .boxbottom{
	float: left;
	margin: 0;
	width: 100%;
	height: 85%;
}
.boxbottom .bit{
	float: left;
	width: 28%;
	height: 85%;
}
.bit img{
	width: 280px;
	height: 200px;
}
.bit h4{
	margin: 0;
	float: left;
	font-size: 18px;
	color: #CD853F;
	padding: 10px 0px;
}
.bit p{
	margin: 0;
	float: left;
	font-size: 12.5px;
	color: gray;
	padding: 0px;
}
.boxqc{
	width: 1000px;
	height: 300px;
	margin: 0;
	float: left;
	background: #eaeff7;
}
h1.what{
	float: left;
	margin: 0;
	font-size: 30px;
	font-family: arial;
	text-transform: uppercase;
	color: #1663e2;
	width: 100%;
	height:18%;
	line-height: 90px;
	text-align: center;
}
h1.lorem{
	margin-top: 20px;
	float: left;
	margin-left: 15%;
	font-size: 12px;
	font-family: arial;
	width: 70%;
	height:15%;
	text-align: center;
	font-weight: 400;
}
.boxnd{
	float: left;
	margin-left: 60px;
	width: 18%;
	height:31%;
}
h1.de{
	margin-bottom: 10px;
	color: #1663e2;
	float: left;
	font-size: 18px;
	font-family: arial;
	text-transform: capitalize;

}
p.nd{
	margin: 0;
	float: left;
	font-size: 11px;
	font-family: arial;
}
a.nd{
	margin-top: 12px;
	float: right;
	width: 40%;
	height:27%;
	background: #1663e2;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	font-weight: 500;
	color: white;
	font-family: arial;
	border-radius: 5px;
}